@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  background-color: #ffffff;
  color: #000000;
}

:root.dark {
  background-color: #030014;
  color: #ffffff;
}

body {
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}

::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { background: #030014; }
::-webkit-scrollbar-thumb { background: #7C3AED; border-radius: 3px; }
::-webkit-scrollbar-thumb:hover { background: #06B6D4; }